.register {
    width: 100%;
    height: 100vh;
    /* background: url(https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/vector-seamless-texture-with-abstract-flowers-endless-background-ethnic-sea_GJZn4Tcd_SB_PM.jpg); */
    background: url(https://img.freepik.com/premium-vector/social-networks-dating-apps-vector-seamless-pattern_341076-469.jpg);
    /* background-color: #fafafa; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.register .card {
    /* background-color: var(--border-color); */
}

.register .card .card-header h3 {
    text-align: center;
    color: black;
}

.register .card .card-body .form-group .form-control {
    color: #73767b85;
}

.register .card .card-body .form-group:last-child {
    margin-bottom: 0px;
}

.register .card .card-body .form-group span a {
    color: #fff;
}

.register .card .card-body .form-group .file-image {
    display: flex;
}

.register .card .card-body .form-group .file-image .image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgb(199, 195, 195);
    overflow: hidden;
}

.register .card .card-body .form-group .file-image .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register .card .card-body .form-group .file-image .file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register .card .card-body .form-group .file-image .file .form-control {
    display: none;
}

.register .card .card-body .form-group .file-image .file label {
    background-color: #0a0e1585;
    padding: 8px;
    margin-bottom: 0px;
    width: 120px;
    text-align: center;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    /* color: black; */
}
