.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* transform the scss code to css */
@import url('./css/base/_reset.css');
@import url('./css/layout/_grid.css');
@import url('./css/utils/_utils.css');
@import url('./css/components/_activeFriend.css');
@import url('./css/components/_friendInfo.css');
@import url('./css/components/_friends.css');
@import url('./css/components/_message.css');
@import url('./css/components/_messageSend.css');
@import url('./css/components/_messenger.css');
@import url('./css/components/_register.css');
@import url('./css/components/_rightSide.css');
